html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
    background-color: #f0f0f0;
    font-family: 'IM Fell English', serif;
    color: #032407;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 0px;
}

.container-box{
    display: grid;
    grid-gap: 10px;
    padding: 0 40px;
    grid-template-areas: 
        'a b c'
        'a b c'
        'a b c';
        
    grid-template-columns: 2fr 2fr 2fr;
}

.box {
    background-color: #11b56e5d;
    border-radius: 5px;
    text-align: center;
    padding: 0 12px;
}

.box p{
    text-align: justify;
    padding: 0 15px;
    margin: 0;
    padding-bottom: 20px;
}

.titulo {
    color: #913104ec;
    font-weight: 500;
    font-family: 'IM Fell English', serif;
}

.principal {
    color: #f0f0f0;
}

.conteudo {
    display: flex;
    flex-direction: start;
    padding: 0 20px;
}

.imagem{   
    width:200px;
    height:134px;
    border-radius: 10px;
}

b{
    color:  #913104ec; ;
}

.botao {
    background-color: #ffffff8e;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
    color: #913104ec;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
}

.a{
    grid-area: a;
}

.a p {
    padding: 0 15px 15px 15px;
}

.b{
    grid-area: b;
    background-color: rgba(214, 201, 138, 0.772);

}

.c{
    grid-area: c;
    background-color: rgba(225, 147, 147, 0.628);
}

ul{
    list-style: none;
    text-align: left;
}

hr {
    width: 20%;
    height: 1px;
    background-color: #575757;
    border: none;
    margin-left: 13px;
}

.rolima-header {
    background-color: #913104ec;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.rolima-header .menu a {
    color: #f0f0f0;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.rolima-header .menu a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

main {
    padding: 20px;
}

.rolima-footer {
    background-color: #913104ec;
    color: #f0f0f0;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 40px;
}

.rolima-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.rolima-contato a{
    color: #ffffffc9;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.rolima-contato a:hover {
    color: #ded011df;
}

html {
    scroll-behavior: smooth;
}